@media screen {

	.timer-choice {
		padding-top: 2em;
		padding-bottom: 2em;

		margin-left: -1000px;
		padding-left: 1000px;
		margin-right: -1000px;
		padding-right: 1000px;

		text-align: center;
		background-color: @SplashColor;
	}

	.timer {
		display: inline-block;

		width: 33%;

		font-size: 2.2em;
	}

	.timer-control-block {
		white-space: nowrap;
	}

	.time-input {
		width: 1.5em;
		font-size: 1em; /*This overwrites default font value comming from user style sheets*/
		text-align: center;

		&::-webkit-inner-spin-button {
			display: none;
		}

		&::-webkit-input-placeholder {
   			opacity: 0.6;
		}
	}

	.timer-button {
		padding: 0.6em 0.8em;

		text-transform: uppercase;
		font-weight: 400;
		letter-spacing: 1px;
	}

	.timer-button.start {
		margin-top: 1em;
	}

	.start-button-text {
		padding-left: 1.6em;
		background-image: url("../resources/play.svg");
		background-repeat: no-repeat;
	}

	.minutes::before {
		content: ":";
		opacity: 0.6;
	}

	.seconds::before{
		content: ":";
		opacity: 0.4;
	}

	.seconds {
		font-size: 0.7em;
	}
}


