@media screen {

	.timer-choice {
		margin: 4.2em auto;
		padding: 2em;
		text-align: center;
		background-color: @SplashColor;
	}

	.timer {
		display: inline-block;

		width: 25%;
		max-width: 300px;
		min-width: 150px;

		margin: 0 0.6em;
		font-size: 2.2em;
	}

	.timer-control-block {
		margin: 0;
		padding: 0;
		border: none;

		white-space: nowrap;
	}

	.time-input {
		width: 1.5em;
		font-size: 1em; /*This overwrites default font value comming from user style sheets*/
		text-align: center;

		background: @ComplementaryColor;
		border-radius: 5px;
		border: none;

		&::-webkit-inner-spin-button {
			display: none;
		}

		&::-webkit-input-placeholder {
   			opacity: 0.6;
		}
	}

	.start-button {
		margin-top: 1em;
		padding: 0.6em 0.8em;

		background: @ComplementaryColor;
		border-radius: 5px;
		border: none;

		text-transform: uppercase;
		font-weight: 400;
		letter-spacing: 1px;

	}

	.start-button-text {
		padding-left: 1.6em;
		background-image: url("../resources/play.svg");
		background-repeat: no-repeat;
	}

	.minutes::before {
		content: ":";
		opacity: 0.6;
	}

	.seconds::before{
		content: ":";
		opacity: 0.4;
	}

	.seconds {
		font-size: 0.7em;
	}
}


