@media screen {

	body {
		margin: 0;
		background-color: @MainColor;
	}

	body, input, button {
		font-family: Lato, sans-serif;
		color: @TextColor;
	}

	.timer-choice {
		margin-top: 4em;
		padding: 2em 4.5em;
		background-color: @SplashColor;
	}

	.timer {
		display: inline-block;
		margin: 0 3.5em;
		font-size: 2.2em;
	}

	.time-input {
		width: 1.5em;
		font-size: 1em; /*This overwrites default font value comming from user style sheets*/
		text-align: center;
		background: @ComplementaryColor;
		border-radius: 5px;
		border: none;

		&::-webkit-inner-spin-button {
			display: none;
		}

		&::-webkit-input-placeholder {
   			opacity: 0.6;
		}
	}

	.seconds {
		font-size: 0.7em;
	}

	.start-button {
		display: block;
		padding: 0.6em 0.8em;
		margin-top: 1em;

		background: @ComplementaryColor;
		border-radius: 5px;
		border: none;

		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 1px;

	}

	.start-button-text {
		padding-left: 1.6em;
		background-image: url("../resources/play.svg");
		background-repeat: no-repeat;
	}

	.minutes::before {
		content: ":";
		opacity: 0.6;
	}

	.seconds::before{
		content: ":";
		opacity: 0.4;
	}
}

