@media screen {

	html {
		height: 100%;
	}

	body {
		height: 100%;
		margin: 0;
		background-color: @MainColor;
		overflow: hidden;
	}

	body, input, button {
		font-family: Lato, sans-serif;
		font-weight: 300;
		color: @TextColor;
	}

	fieldset {
		margin: 0;
		padding: 0;
		border: none;
	}

	input, button {
		background: @ComplementaryColor;
		border-radius: 5px;
		border: none;
	}

	.content {
		max-width: 1200px;
		height: 100%;
		margin: 0 auto;
		padding: 6% 50px 0;
		box-sizing: border-box;
	}
}
