@media screen and (max-width: 1000px) {

	.content {
		padding: 0;
	}
}

@media screen and (max-width: 900px), screen and (orientation: portrait) {

	.content {
		display: block;
		padding: 0 40px 0;
		white-space: nowrap;
	}

	.timer-choice {
		display: inline-block;
		height: 100%;
		padding: 0 1em;
		box-shadow: 0 300px 0 0 @SplashColor, 0 -300px 0 0 @SplashColor;
	}

	.timer {
		width: 100%;
		height: 33%;

		display: flex;
 	 	flex-direction: column;
  		justify-content: center;
	}

	.timer-name {
		display: none;
	}

	.inner-content {
		display: inline-block;

		width: 60vw;
		height: 33%;
		vertical-align: top;

		box-shadow: 50vw 0 0 0 @SplashColor, -50vw 0 0 0 @SplashColor;
	}

	[data-mode="countdown"] .inner-content {
		margin-top: 0vh;
		margin-left : 0%;
	}

	[data-mode="alarmclock"] .inner-content {
		margin-top: 33.3vh;
		margin-left : 0%;
	}

	[data-mode="stopwatch"] .inner-content {
		margin-top: 66.9vh;
		margin-left : 0%;
	}

	.timer-result-wrapper {
		display: flex;
		flex-direction: column;
  		justify-content: center;

  		height: 100%;
	}

	.timer-result {
		margin-top: 0;
		margin-bottom: 0;
	}

	.alarm-video {
		display: none;
		height: 100%;
	}

	.bottom-block {
		display: none;
	}
}

@media screen and (max-width: 650px) {

	.content {
		padding: 0;
	}
}

@media screen and (max-width: 550px), screen and (max-height: 550px) {

	.content {
		font-size: 0.5em;
	}

	.timer-button {
		font-size: 1em;
	}
}
