@media screen {

	.timer-name {
		width: 33%;
		min-height: 1.1em; /* min-height = font-size (current = 1em) * line-height */
		margin: 0.5em 0;

		text-align: center;
		font-size: 2em;
		line-height: 1.1;

		transition: margin 0.25s;
	}

	.inner-content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		flex-grow: 1;

		width: 33%;
		text-align: center;

		background-color: @StripColor;
		box-shadow: 0 -50vh 0 0 @StripColor;

		transition: margin 0.25s;
	}

	[data-mode="countdown"] .inner-content,
	[data-mode="countdown"] .timer-name {
		margin-left : 0%;
	}

	[data-mode="alarmclock"] .inner-content,
	[data-mode="alarmclock"] .timer-name {
		margin-left : 33.3%;
	}

	[data-mode="stopwatch"] .inner-content,
	[data-mode="stopwatch"] .timer-name {
		margin-left : 67%;
	}

	.timer-result {
		margin-top: 1em;
		margin-bottom: 1em;
	}

	.counter {
		font-size: 4.3em;
	}

	[data-counter-size="medium"] {
		font-size: 6.3em;
	}

	[data-counter-size="big"] {
		font-size: 7em;
	}

	.pause .timer-button-text {
		background-image: url("../resources/pause.svg");
	}

	.resume .timer-button-text {
		background-image: url("../resources/play.svg");
	}

	.stop .timer-button-text {
		background-image: url("../resources/stop.svg");
	}

	.reminder-text{
		opacity: 0.8;
	}

	.alarm-reminder {
		display: none;
	}

	.resume.timer-button,
	.stop.timer-button {
		display: none;
	}

	[data-paused] {
		.pause.timer-button {
			display: none;
		}

		.resume.timer-button {
			display: inline;
		}
	}

	[data-mode="countdown"],
	[data-mode="stopwatch"] {
		.alarm-reminder {
			display: none;
		}
	}

	[data-mode="alarmclock"] {
		.alarm-reminder {
			display: inline;
		}

		.pause.timer-button,
		.resume.timer-button,
		.stop.timer-button {
			display: none;
		}
	}

	.alarm-video {
		width: 100%;
	}
}
