@media screen {

	.timer-name {
		width: 33%;
		min-height: 1.1em; /* min-height = font-size (current = 1em) * line-height */
		margin: 0.5em 0;

		text-align: center;
		font-size: 2em;
		line-height: 1.1;

		transition: margin 0.25s;
	}

	.inner-content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		flex-grow: 1;

		width: 33%;
		text-align: center;

		background-color: @StripColor;
		box-shadow: 0 -50vh 0 0 @StripColor;

		transition: margin 0.25s;
	}

	.timer-result {
		margin-top: 1em;
		margin-bottom: 1em;
	}

	.counter {
		font-size: 4.3em;
	}

	.pause .timer-button-text {
		background-image: url("../resources/pause.svg");
	}

	.resume .timer-button-text {
		background-image: url("../resources/play.svg");
	}

	.stop .timer-button-text {
		background-image: url("../resources/stop.svg");
	}

	.reminder-text{
		opacity: 0.8;
	}

	.alarm-video {
		width: 100%;
	}

	.timer-result,
	.alarm-video,
	.alarm-reminder,
	.resume.timer-button,
	.stop.timer-button {
		display: none;
	}
}
