@BackgroundColor: white;
@TextColor: darken(#666, 12%);
@InputColor: rgba(255,255,255,.7);
@StripColor: fadeout(darken(overlay(rgba(0,0,0,.07), rgba(255,255,255,0.55)), 2%), 5%);
@AccentColor: rgba(0,0,0,.07);



@import "styles/main.less";
@import "styles/horizontal-strip.less";
@import "styles/vertical-strip.less";
@import "styles/bottom-block.less";
@import "styles/behaviour.less";
@import "styles/small-screens.less";
