@MainColor: white;
@ComplementaryColor: rgba(255,255,255,.7);
@TextColor: #666;
@SplashColor: rgba(0,0,0,.07);
@AccentColor: #444;



@import "styles/main.less";
@import "styles/horizontal-strip.less";
@import "styles/vertical-strip.less";
@import "styles/small-screens.less";

